
@mixin flex($align, $justify, $direc){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direc;
}

@mixin mobile(){
    @media (max-width: 600px){
        @content;
    }
}