@import '../../styles/variables';
@import '../../styles/mixin';

.header {
    position: absolute;
    width: 100%;
    height: 4vmax;
    background-color: $mainDark;
    padding: 0 3vmax;
    @include flex(center, space-between, row);

    .logo {
        height: 3vmax;
        width: 10vmax;
        @include flex(center, center, row);

        .logo-txt {
            display: block;
            font-size: 2vmax;
            font-family: sans-serif;
            color: #fff;
            user-select: none;
            cursor: pointer;
        }
    }

    .usr-prfl {
        height: 3.5vmax;
        width: 3.5vmax;
        // border: 1px solid #fff;
        @include flex(center, center, row);

        .pic {
                height: 3vmax;
                width: 3vmax;
                border: 1px solid #181818;
                border-radius: 50%;
                cursor: pointer;

                .usr-dp {
                    width: 100%;
                    object-fit: cover;
                }
            }
    }

    .search-bar-cnt {
        height: 2.3vmax;
        width: 25vmax;
        margin-right: 5vmax;
        border: 2px solid #5d5d5d;
        border-radius: .4vmax;
        @include flex(center, start, row);
        padding: 0 1vmax;

        .searchIco {
            height: 1vmax;
            width: 1vmax;
            background-image: url(../../assets/Icons/searchIco.png);
            background-position: center;
            background-size: 90%;
            background-repeat: no-repeat;
        }

        .searchBox {
            height: 100%;
            width: 100%;
            background-color: transparent;
            padding: 0 1vmax;
            border: none;
            outline: none;
            color: #a9a9a9;
            font-size: .9vmax;
        }
    }
}